<html>
    <head>
    
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" charset="utf-8">

    
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
	  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
   	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-resource.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
      <script type="text/javascript" src="routes/route.js"></script>
      
      <!-- prijava i registracija kontroler -->
      <script type="text/javascript" src="controllers/prijava_Controller.js"></script>
      <script type="text/javascript" src="controllers/registracija_Controller.js"></script>
      
      <!-- navBar kontroleri -->
      <script type="text/javascript" src="controllers/menadzer_navBarController.js"></script>
      <script type="text/javascript" src="controllers/kupac_navBarController.js"></script>
      <script type="text/javascript" src="controllers/prodavac_navBarController.js"></script>
      
      <!-- kontroleri za kupca -->
      <script type="text/javascript" src="controllers/kupac_Controller.js"></script>
      <script type="text/javascript" src="controllers/kupac_infoController.js"></script>
      <script type="text/javascript" src="controllers/kupac_korpaController.js"></script>
      <script type="text/javascript" src="controllers/kupac_ostvareniPopustiController.js"></script>
      
      <!-- kontroleri za prodavca -->
      <script type="text/javascript" src="controllers/prodavac_Controller.js"></script>
      <script type="text/javascript" src="controllers/prodavac_narudzbeController.js"></script>
      <script type="text/javascript" src="controllers/prodavac_racunInfoController.js"></script>
      
      <!-- kontroleri za menadzera -->
      <script type="text/javascript" src="controllers/menadzer_kategorijeKupacaController.js"></script>
      <script type="text/javascript" src="controllers/menadzer_kategorijeArtikalaController.js"></script>
      <script type="text/javascript" src="controllers/menadzer_akcijeController.js"></script>
      <script type="text/javascript" src="controllers/menadzer_infoController.js"></script>
      
      <!--link rel="stylesheet" href="stylesheets/loginStyle.css"-->
      <title>EBAY copycat</title>
    </head>
    <body ng-app="sbzApp">
    
    <div ng-controller="prijava_Controller">
		<div ng-if="ulogaKupac">
  			<div ng-include="'views/kupac_navBar.html'"></div>
			<br><br><br><br><br><br>
		</div>
		<div ng-if="ulogaProdavac">
			<div ng-include="'views/prodavac_navBar.html'"></div>
			<br><br><br><br><br><br>
		</div>
		<div ng-if="ulogaMenadzer">
   			<div ng-include="'views/menadzer_navBar.html'"></div>
			<br><br><br><br><br><br>
		</div> 
		
	</div> 

	<div ng-view>     
   </div>
 
  </body>
</html>
