div#artikal{
   width:250px; 
   max-width:250px;
   height:300px;
   max-height:300px;
   display: inline-block;
}

ul#artikalPodaci{
	list-style-type: none;
	margin: 0; 
	padding: 0;

}

figure {
    float: left;
    padding-left: 0px;
}

input#kolicinaArtikla{
	 width: 60px;
}

