div#artikal{
   width:250px; 
   max-width:250px;
   height:300px;
   max-height:300px;
   display: inline-block;
}

ul#artikalPodaci{
	list-style-type: none;
}

figure {
    float: left;
}