<div ng-include="'views/kupac_navBar.html'"></div>
<br><br><br>
<br><br><br>
<div ng-controller="kupac_Controller">
	<div class="col-md-2">
	  <uib-accordion close-others="oneAtATime">
	    <uib-accordion-group heading="{{kategorija.naziv}}" ng-repeat="kategorija in kategorije">
	      <div ng-repeat="podkategorija in kategorija.podkategorije">{{podkategorija}}</div>
	    </uib-accordion-group>
	  </uib-accordion>
 	 </div>
	 <div class="col-md-1">
	 </div>
	 <div class="col-md-9">
	 	<div ng-include="'views/kupac_pretraga.html'"></div>
	 	<br><br>
	 	<div class="artikli" ng-repeat="artikal in artikli" class="row">
	 		<div class="col-xs-4" id="artikal">
		 		<figure>
	 				<img src="images/defaultImage.png"  style="width:180px;height:120px;">
				    <figcaption>
				    	<ul id="artikalPodaci">
				    		<li>Oznaka: {{artikal.oznaka}}</li>
				    		<li>Naziv: {{artikal.naziv}}</li>
				    		<li>Kategorija: {{artikal.kategorija}}</li>
				    		<li>Popust: {{artikal.popust}}</li>
				    		<li>Cena: <b>{{artikal.cena}}</b></li>
				    		<li>
				    			<input id="kolicinaArtikla" type="number" min=0 value=0>
				    			<button type="button" class="btn btn-default btn-sm">
						          <span class="glyphicon glyphicon-shopping-cart"></span> Dodaj u korpu
						        </button>
				    		</li>
				    	</ul>
				    </figcaption>
				</figure>
	 		</div>
	 	</div>
	 </div>
</div>