<div class="col-md-2"></div>
	<div ng-cloak="" class="tabsdemoDynamicHeight col-md-8" ng-app="sbzApp" ng-controller="kupac_korpaController">
	  <md-content>
	    <md-tabs md-dynamic-height="" md-border-bottom="">
	      <md-tab label="Sa iskorišćenim bodovima">
	        <md-content class="md-padding">
			  <div ng-include="'views/kupac_racun1.html'"></div>
	        </md-content>
	      </md-tab>
	      <md-tab label="Bez bodova">
	        <md-content class="md-padding">
	         	<div ng-include="'views/kupac_racun2.html'"></div>
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>
	</div>
<div class="col-md-2"></div>