<div class="col-md-2"></div>
<div class="col-md-8" ng-controller="kupac_korpaController">

	<!-- Error message -->
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<div class="alert alert-danger" role="alert" ng-show="greska">
		            	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		            	{{greska}}
		        	</div>
				</div>
				<div class="col-md-4"> &nbsp; </div>
			</div>



	<button class="btn btn-danger" style="float:right;" ng-click="isprazniKorpu()">Isprazni korpu</button>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Oznaka</th>
				<th>Naziv</th>
				<th>Cena</th>
				<th>Količina</th>
				<th>Originalna cena</th>
				<th>Popust</th>
				<th>Ukupno</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="artikal in artikli">
				<td>{{artikal.oznaka}}</td>
				<td>{{artikal.naziv}}</td>
				<td>{{artikal.cenaSaPopustom}}</td>
				<td>{{artikal.kolicina}}</td>
				<td>{{artikal.cena}}</td>
				<td>{{artikal.popust}}</td>
				<td>{{artikal.ukupno}}</td>
				<td>
					<button class="btn" data-toggle="tooltip" title="Obriši iz korpe" ng-click="obrisiIzKorpe($index, artikal.oznaka)">
					    <span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
			<tr>
				<td colspan=6></td>
				<td>Za uplatu</td>
				<td>{{zaUplatu}}</td>
			</tr>
		</tbody>
	</table>
	<h4>Želim da iskoristim <input type="number" min=0 max="{{maxBodovi}}" style="width:50px" ng-model="bodovi" ng-change="izmenaBodova()"> {{tekst}}</h4>
	<button class="btn btn-primary" style="float:right;" ng-click="potvrdaKorpe()">Potvrdi</button>
</div>
<div class="col-md-2"></div>