<div ng-controller="kupac_infoController">
	<div class="col-md-2"></div>
	<div ng-cloak="" class="tabsdemoDynamicHeight col-md-8" ng-app="sbzApp">
	<!-- Success message -->
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<div class="alert alert-success" role="alert" ng-show="uspesno">
		            	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		            	{{uspesno}}
		        	</div>
				</div>
				<div class="col-md-4"> &nbsp; </div>
			</div>
	  <md-content>
	    <md-tabs md-dynamic-height="" md-border-bottom="">
	      <md-tab label="Profil">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">Profil</h1>
			  <div ng-include="'views/kupac_profil.html'"></div>
	        </md-content>
	      </md-tab>
	      <md-tab label="Istorija kupovina">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">Istorija kupovina</h1>
	         	<div ng-include="'views/kupac_istorijaKupovina.html'"></div>
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>
	</div>
	<div class="col-md-2"></div>
</div>