<div class="col-md-2"></div>
<div class="col-md-8" ng-controller="kupac_ostvareniPopustiController">
	<h2>Izveštaj</h2>
	<br><br><br>
	<h4>Lista primenjenih popusta na stavke računa</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Oznaka</th>
				<th>Naziv</th>
				<th>Opis</th>
				<th>Artikal</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="artikal in artikli">
				<td>{{artikal.popust.oznaka}}</td>
				<td>{{artikal.popust.naziv}}</td>
				<td>{{artikal.popust.opis}}</td>
				<td>{{artikal.naziv}}</td>
			</tr>
		</tbody>
	</table>
	<br><br>
	<h4>Lista primenjenih popusta na ceo račun</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Oznaka</th>
				<th>Popust</th>
				<th>Opis</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="popust in popusti">
				<td>{{popust.oznaka}}</td>
				<td>{{popust.naziv}}</td>
				<td>{{popust.opis}}</td>
			</tr>
		</tbody>
	</table>
	<div class="col-md-6">
		<label>Ukupna cena računa: {{racun.ukupnaCena}}</label><br>
		<label>Procenat umanjenja: {{racun.procenatUmanjenja}}%</label><br>
		<label>Plaćena cena: {{racun.placenaCena}}</label>
	</div>
	<div class="col-md-6">
		<label>Broj potrošenih nagradnih bodova: {{racun.brPotrosenihBodova}}</label><br>
		<label>Broj ostvarenih nagradnih bodova: {{racun.brOstvarenihBodova}}</label><br>
	</div>
	<br><br><br><br><br><br><br><br><br>
	<button class="btn btn-primary" style="float:right;" ng-click="naslovna()">Nazad na naslovnu</button>
</div>
<div class="col-md-2"></div>