<div modal="showModal" close="zatvori()">
    <div class="modal-header">
        <h4>Artikal - {{artikal.oznaka}}</h4>
    </div>
    <div class="modal-body">
    	<div>
    		<img ng-src="{{artikal.slika || 'images/defaultImage.png'}}" style="max-width:250px;max-height:500px;overflow: hidden;" ng-click="viseInformacija(artikal.oznaka)">
    	</div>
    	<div>
    		<table class="table table-striped">
    			<tr>
    				<td>Naziv:</td>
    				<td>{{artikal.naziv}}</td>
    			</tr>
    			<tr>
    				<td>Kategorija:</td>
    				<td>{{artikal.kategorija}}</td>
    			</tr>
    			<tr>
    				<td>Cena:</td>
    				<td>{{artikal.cena}}</td>
    			</tr>
    			<tr>
    				<td>Akcije:</td>
    				<td>
    					<table class="table table-striped" ng-show="artikal.akcije.length>0">
    						<tr>
    							<td>Naziv</td>
    							<td>Popust</td>
    							<td>Trajanje (od)</td>
    							<td>Trajanje (do)</td>
    						</tr>
    						<tr ng-repeat="akcija in artikal.akcije">
    							<td>{{akcija.name}}</td>
    							<td>{{akcija.dicount}}%</td>
    							<td>{{akcija.from}}</td>
    							<td>{{akcija.until}}</td>
    						</tr>
    					</table>
    				</td>
    			</tr>
    			<tr>
    				<td>Popust:</td>
    				<td>{{artikal.popust}}</td>
    			</tr>
    			<tr>
    				<td>Cena sa popustom:</td>
    				<td>{{artikal.cenaSaPopustom}}</td>
    			</tr>
    		</table>
    	</div>	
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="zatvori()">Zatvori</button>
    </div>
</div>