<div ng-controller="kupac_infoController">
	<div class="col-md-2"></div>
	<div ng-cloak="" class="tabsdemoDynamicHeight col-md-8" ng-app="sbzApp">
	  <md-content>
	    <md-tabs md-dynamic-height="" md-border-bottom="">
	      <md-tab label="Profil">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">Profil</h1>
			  <div ng-include="'views/kupac_profil.html'"></div>
	        </md-content>
	      </md-tab>
	      <md-tab label="Istorija kupovina">
	        <md-content class="md-padding">
	          <h1 class="md-display-2">Istorija kupovina</h1>
	         	<div ng-include="'views/kupac_istorijaKupovina.html'"></div>
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>
	</div>
	<div class="col-md-2"></div>
</div>