<div data-ng-controller="kupac_pretragaController">
	<div class="row">
		<div class="col-md-4">
			<input type="text" ng-model="tekstPretrage" class="form-control" placeholder="Unesite pojam pretrage">
		</div>
		<div class="col-md-3"> 
			<select ng-model="kategorijaPretrage" class="form-control"> 
				<option>Oznaka</option>
				<option>Naziv</option>
				<option>Kategorija</option>
			</select>
	     </div>
	    <div class="col-md-1"> 
	    	<button ng-click="trazi()" class="btn btn-primary">Trazi</button>
	    </div>
	    <div class="col-md-2"> 
			<button class="btn" ng-click=naprednaPretraga()>Napredna pretraga</button> 
		</div>
	</div>
</div>