<div ng-controller="kupac_Controller">
	<script type="text/ng-template" id="stablo">
		{{ kategorija.info.name }}
		<ul ng-if="kategorija.subCategories">
			 <li ng-repeat="kategorija in kategorija.subCategories" ng-include="'stablo'">
			        {{ kategorija.info.name }}
			 </li>
		</ul>
	</script>


	<div class="col-md-2">
	  <uib-accordion close-others="oneAtATime">
	  	<uib-accordion-group heading="Pretraga" is-open="true">
	      <div>Šifra:<input type="text" class="form-control"></div>
	      <div>Naziv:<input type="text" class="form-control"></div>
	      <div>Kategorija:<input type="text" class="form-control"></div>
	      <div>Opseg cene:<br>Minimum:<input type="text" class="form-control" >Maksimum:<input type="text" class="form-control"></div>
	      <br>
	      <div><button class="btn" style="float:right;">Pretraži</button></div>
	    </uib-accordion-group>
	  </uib-accordion>
      <!--  div id="MainMenu">
        <div class="list-group panel" ng-repeat="kategorija in kategorije">
        	<a href  data-target="#{{kategorija.oznaka}}" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#{{kategorija.nadkategorija}}">{{kategorija.naziv}}</a>
          	<div class="colapse" id="{{kategorija.oznaka}}">
          		<a ng-repeat="podkategorija in kategorija.podkategorije" data-target="#{{podkategorija.oznaka}}" class="list-group-item" data-toggle="collapse" data-parent="#{{kategorija.oznaka}}">{{podkategorija.info.name}}</a>
          	</div>
        </div>
      </div-->
      <ul>
    		<ul>
			    <li ng-repeat="kategorija in kategorije" ng-include="'stablo'">
			        
			    </li>
			</ul>
	  </ul>
	
 	 </div>
	 <div class="col-md-1">
	 </div>
	 <div class="col-md-9">
	 	<div class="artikli" ng-repeat="artikal in artikli" class="row">
	 		<div class="col-xs-4" id="artikal">
		 		<figure>
		 			<div style="width:180px;height:120px">
	 					<img ng-src="{{artikal.slika || 'images/defaultImage.png'}}"   style="max-width:180px;max-height:120px;cursor: pointer;" ng-click="viseInformacija(artikal.oznaka)">
				    </div>
				    <figcaption>
				    	<ul id="artikalPodaci">
				    		<li>{{artikal.naziv}}</li>
				    		<li><b><font size="5">{{artikal.cenaSaPopustom}} RSD</font></b></li>
				    		<li>
				    			<input id="kolicinaArtikla" type="number" min=0 value=0>
				    			<button type="button" class="btn btn-default btn-sm">
						          <span class="glyphicon glyphicon-shopping-cart"></span> Dodaj u korpu
						        </button>
				    		</li>
				    	</ul>
				    </figcaption>
				</figure>
	 		</div>
	 	</div>
	 </div>
</div>

