<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Oznaka računa</th>
				<th>Datum kupovine</th>
				<th>Ukupan iznos</th>			
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="racun in racuni track by $index" style='cursor: pointer;'  ng-click="pogledajRacun(racun.billId)">
				<td>{{racun.billId}}</td>
				<td>{{racun.date}}</td>
				<td>{{racun.costInfos[0].total}}</td>
				<td>{{statusRacuna[$index]}}</td>
			</tr>
		</tbody>
	</table>
</div>