<div ng-controller="kupac_Controller">
	<script type="text/ng-template" id="stablo">
		<accordion-group heading="{{kategorija.info.name}}">
			<a class="list-group-item" ng-click="catFilter(kategorija.info.code)">{{kategorija.info.name}}</a>
			<div class="list-group" ng-if="kategorija.subCategories">
				<a class="list-group-item" ng-click="catFilter(kategorija.info.code)" ng-repeat="kategorija in kategorija.subCategories" ng-include="'stablo'">
			    	   {{ kategorija.info.name }}
				</a>
			</div>
		</accordion-group>
	</script>


	<div class="col-md-2">
	  <uib-accordion close-others="oneAtATime">
	  	<uib-accordion-group heading="Pretraga" is-open="false">
	      <div>Šifra:<input ng-model="advancedSearch.id" type="text" class="form-control"></div>
	      <div>Naziv:<input ng-model="advancedSearch.name" value=""type="text" class="form-control"></div>
	      <div>Kategorija:<input ng-model="advancedSearch.category" type="text" class="form-control"></div>
	      <div>Opseg cene:<br>Minimum:<input ng-mode="advancedSearch.costRange.minCost" type="text" class="form-control" >Maksimum:<input ng-model="advancedSearch.costRange.maxCost" type="text" class="form-control"></div>
	      <br>
	      <div><button class="btn" style="float:right;" ng-click="search()">Pretraži</button></div>
	      <div><button class="btn" style="float:left;" ng-click="allItems.reload()">Sve</button></div>
	    </uib-accordion-group>
	  </uib-accordion>
	  
      <accordion>
			<accordion-group heading={{kategorija.info.name}} ng-repeat="kategorija in kategorije" ng-include="'stablo'"></accordion-group>
 	  </accordion>
	</div>
  
 	 
 	 
	 <div class="col-md-1">
	 </div>
	 <div class="col-md-9">
	 	<div class="artikli" ng-repeat="artikal in artikli" class="row">
	 		<div class="col-xs-4" id="artikal">
		 		<figure>
		 			<div style="width:180px;height:120px">
	 					<img ng-src="{{artikal.slika || 'images/defaultImage.png'}}"   style="max-width:180px;max-height:120px;cursor: pointer;" ng-click="viseInformacija(artikal.oznaka)">
				    </div>
				    <figcaption>
				    	<ul id="artikalPodaci">
				    		<li>{{artikal.naziv}}</li>
				    		<li><b><font size="5">{{artikal.cenaSaPopustom}} RSD</font></b></li>
				    		<li>
				    			<input id="kolicinaArtikla" type="number" min=0 value=0>
				    			<button type="button" class="btn btn-default btn-sm">
						          <span class="glyphicon glyphicon-shopping-cart"></span> Dodaj u korpu
						        </button>
				    		</li>
				    	</ul>
				    </figcaption>
				</figure>
	 		</div>
	 	</div>
	 </div>
</div>

