<div class="col-md-2"></div>
<div class="col-md-8" ng-controller="kupac_ostvareniPopustiController">
	<h2>Izveštaj</h2>
	<button class="btn btn-danger" style="float:right;" ng-click="otkaziKupovinu()">Otkaži kupovinu</button>

	<br><br><br>
	<h4>Lista primenjenih popusta na stavke računa</h4>
	<table class="table table-striped myTable">
	
		<tbody>
			<tr>
				<table ng-repeat="artikal in artikli track by $index" class="table table-bordered">
					<thead>
						<tr>
							<th colspan="6"><h3>{{artikal.item.name}}</h3></th>
						</tr>
						<tr ng-show="artikal.itemDiscounts.length > 0">
							<th>Oznaka popusta</th>
							<th colspan="2">Naziv</th>
							<th colspan="2">Opis</th>
							<th>Procenat</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="popust in artikal.itemDiscounts">
							<td>{{popust.id}}</td>
							<td colspan="2">{{popust.name}}</td>
							<td colspan="2">{{popust.type == "A" | iif : "Dodatni popust" : "Osnovni popust"}}</td>
							<td>{{popust.percentage}}%</td>
						</tr>
						<tr>
							<th>Jedinična cena:</th>
							<td>{{artikal.item.cost}} RSD</td>
							<th>Ukupan popust:</th>
							<td>{{ukupanPopust[$index]}}%</td>
							<th>Cena bez popusta:</th>
							<td>{{artikal.originalCost}}</td>
						</tr>
						<tr>
							<th>Količina:</th>
							<td>{{artikal.quantity}}</td>
							<th>Ostvaren popust:</th>
							<td>{{artikal.discountPercentage}}%</td>
							<th>Cena sa popustom:</th>
							<td>{{artikal.totalCost}}</td>
						</tr>
					</tbody>
				</table>
			</tr>
		</tbody>
	</table>
	<br><br>
	<h4>Lista primenjenih popusta na ceo račun</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Oznaka</th>
				<th>Popust</th>
				<th>Opis</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="popust in popusti">
				<td>{{popust.oznaka}}</td>
				<td>{{popust.naziv}}</td>
				<td>{{popust.opis}}</td>
			</tr>
		</tbody>
	</table>
	<br><br>
	<h4>Bodovi i iznos računa</h4>
	<div class="col-md-6">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th colspan=5>Račun sa iskorišćenim bodovima</th>
				</tr>
			</thead>
				<tr>
					<td>Ukupna cena računa:</th>
					<td>{{racun.ukupnaCena}}</td>
				</tr>
				<tr>
					<td>Procenat umanjenja:</th>
					<td>{{racun.procenatUmanjenja}}%</td>
				</tr>
				<tr>
					<td>Plaćena cena:</th>
					<td>{{racun.placenaCena}}</td>
				</tr>
				<tr>
					<td>Broj potrošenih nagradnih bodova:</th>
					<td>{{racun.brPotrosenihBodova}}</td>
				</tr>
				<tr>
					<td>Broj ostvarenih nagradnih bodova:</th>
					<td>{{racun.brOstvarenihBodova}}</td>
				</tr>
				<tr>
					<td colspan="2"><button class="btn btn-success" style="float:right;" ng-click="potvrdiRacun(1)">Koristi ovaj račun</button></td>
				</tr>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th colspan=5>Račun bez iskorišćenih bodova</th>
				</tr>
			</thead>
				<tr>
					<td>Ukupna cena računa:</th>
					<td>{{racun.ukupnaCena}}</td>
				</tr>
				<tr>
					<td>Procenat umanjenja:</th>
					<td>{{racun.procenatUmanjenja}}%</td>
				</tr>
				<tr>
					<td>Plaćena cena:</th>
					<td>{{racun.placenaCena}}</td>
				</tr>
				<tr>
					<td>Broj potrošenih nagradnih bodova:</th>
					<td>{{racun.brPotrosenihBodova}}</td>
				</tr>
				<tr>
					<td>Broj ostvarenih nagradnih bodova:</th>
					<td>{{racun.brOstvarenihBodova}}</td>
				</tr>
				<tr>
					<td colspan="2"><button class="btn btn-success" style="float:right;" ng-click="potvrdiRacun(2)">Koristi ovaj račun</button></td>
				</tr>
			<tbody>
			</tbody>
		</table>
	</div>
	<br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br>
</div>
<div class="col-md-2"></div>