<!--<div data-ng-include="'views/menadzer_navBar.html'"></div>-->
<meta charset="UTF-8">
<div data-ng-controller="menadzer_akcijeController">
	
	<div style='margin-left: 10%;margin-right: 10%;margin-bottom: 10%'>
		<div class='table-responsive'>
			<table class='table table-bordered'>
				<thead>
					<tr>
						<th colspan="6"> Akcije </th>
						<th style='text-align: center;'> <button class='btn btn-primary' data-ng-click="addAction()"> Kreiraj novu </button> </th>
					</tr>
					<tr>
						<th> Oznaka </th>
						<th> Naziv </th>
						<th> Traje od </th>
						<th> Traje do </th>
						<th> Popust </th>
						<th> Kategorije na popustu</th>
						<th colspan='2'> </th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="a in akcije">
						<td> {{a.info.id}} </td>
						<td> {{a.info.name}} </td>
						<td> {{filterDate(a.info.from)}} </td>
						<td> {{filterDate(a.info.until)}} </td>
						<td> {{a.info.dicount}}% </td>
						<td> 
							<span data-ng-repeat="cat in a.categories track by $index">
								{{$index + 1}} - {{cat.name}} <br/>
							</span>
						</td>
						<!--  <td> <button class='btn btn-primary' data-ng-click="deleteAction(a.code)">Delete</button> </td>-->
						<td style='text-align: center;'> <button class='btn btn-primary' data-ng-click="modifyAction(a)"> Izmena </button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>