<meta charset="UTF-8">
<div>
	<div class="modal-header">
		<b> {{headerMsg}} </b>
	</div>
	
	<form name='f1' data-ng-submit="ok()">
	<div class='modal-body'>
			<p style='color: red;'> {{errorMsg}} </p>
			 <input type='text' class='form-control' data-ng-model='newAction.info.name'  placeholder='Naziv' required/>
			 <br/>
			 <b> Traje od: </b> <br/> 
			 <input max='{{parentScope.filterDate(maxDate)}}' type='date' min="{{parentScope.filterDate(minDate)}}" class='form-control' data-ng-model='newAction.info.from' required/>
			 <br/>
			 <b> Traje do: </b> <br/> 
			 <input type='date' min="{{parentScope.filterDate(minDate)}}" class='form-control' data-ng-model='newAction.info.until' required/>
			 <br/>
			 <b> Popust: </b>
			 <input type='number' min=0 class='form-control' data-ng-model='newAction.info.dicount'  placeholder='Popust' required/>
			 <br/> <br/>
			 <b> Kategorije: </b> <br/>
			 <table class='table'>
			 	<tr>
			 		<td> <input type='text' data-ng-disabled='true' data-ng-model='selectedCategory' class='form-control' placeholder='Oznaka'/> </td>
			 		<td colspan='2'>
			 			<select class='form-control' data-ng-model='selectedCategory'>
			 				<option data-ng-repeat='cat in categories' value='{{cat.code}}'>
			 					{{cat.name}}
			 				</option>
			 			</select>
			 		 </td>
			 		<td> <input data-ng-click='addCat()' type='button' value='+' class='btn btn-primary'/> </td>
			 	</tr>
			 	<tr>
			 		<th> Oznaka </th>
			 		<th colspan='3'> Naziv </th>
			 	</tr>
			 	<tr data-ng-repeat="cat in newAction.categories">
			 		<td> {{cat.code}} </td>
			 		<td colspan='2'> {{cat.name}} </td>
			 		<td> <input class='btn btn-primary' type='button' value='-' data-ng-click='removeCat(cat)'/> </td>
			 	</tr>
			 </table>
	</div>
	
	<div class="modal-footer">
		<input type='submit' value='Potvrda' class='btn btn-primary'/>
		<button class='btn btn-warning' data-ng-click="cancel()">Odustani</button>
	</div>
	</form>
</div>