<meta charset="UTF-8">
<nav ng-controller="menadzer_navBarController" class="navbar-fluid navbar-inverse navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/menadzer">EBAY copycat</a>
        </div>

        <div id="navbar">
            <ul class="nav navbar-nav">
                <li><a href ng-click="kupci()">Kategorije kupaca</a></li>
                <li><a href ng-click="artikli()" >Kategorije artikala</a></li>
                <li><a href ng-click="akcije()" >Akcije</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            	<li> <a href ng-click="menadzerInfo()">{{menadzerID}}</a> </li>
            	<li> <a href ng-click="logout()">Odjavi se</a> </li>
            </ul>
        </div>
    </div>
</nav>