<div modal="showModal" close="zatvori()">
    <div class="modal-header">
        <h4>Pregled računa </h4>
        
        <div class="row">
			<div class="col-md-1"> &nbsp; </div>
			<div class="col-md-5">
				<label> Oznaka računa: </label> {{ racun.oznaka }}
			</div>
			<div class="col-md-5">
				<label> Oznaka kupca:  </label> {{ racun.oznakaKupca }}
			</div>
			<div class="col-md-1"></div>
		</div>
		
		<div class="row">
			<div class="col-md-1"> &nbsp; </div>
			<div class="col-md-5">
				<label> Datum: </label> {{ racun.datum }}
			</div>
			<div class="col-md-5">
				<label> Stanje računa: </label> {{ racun.stanje }}
			</div>
			<div class="col-md-1"></div>
		</div>
    </div>
    
    <div class="modal-body">
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> <label> Izabrani artikli: </label></div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
		<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10">
    			<table class="table table-striped table-bordered">
    				<thead>
    					<th>Oznaka artikla</th>
    					<th>Naziv artikla</th>
    					<th>Cena</th>
    					<th>Količina</th>
    					<th>Originalna cena</th>
    					<th>Popust</th>
    					<th>Ukupno</th>
    				</thead>
    				<tbody>
    					<tr ng-repeat="artikal in racun.artikli">
	    					<td>{{artikal.oznaka}}</td>
	    					<td>{{artikal.naziv}}</td>
	    					<td>{{artikal.cena}}</td>
	    					<td>{{artikal.kolicina}}</td>
	    					<td>{{artikal.originalnaCena}}</td>
	    					<td>{{artikal.popust}}%</td>
	    					<td>{{artikal.ukupno}}</td>
	    				</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="col-md-1"> &nbsp; </div>
    	  </div>
    	  <br><br>
    	  
    	  <div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> <label> Popusti: </label></div>
    		<div class="col-md-1"> &nbsp; </div>
    	 </div> 
    	  <div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10">
    			<table class="table table-striped table-bordered">
    				<thead>
    					<th>Oznaka</th>
    					<th>Popust</th>
    					<th>Opis</th>
    					<th>Artikal</th>
    				</thead>
    				<tbody>
    					<tr ng-repeat="popust in racun.popusti">
	    					<td>{{popust.oznaka}}</td>
	    					<td>{{popust.naziv}}</td>
	    					<td>{{popust.opis}}</td>
	    					<td>
	    						<table class="table table-striped">
	    							<tr>
	    								<th>Oznaka</th>
	    								<th>Naziv</th>
	    							</tr>
	    							<tr ng-repeat="artikal in popust.artikli">
	    								<td>{{artikal.oznaka}}</td>
	    								<td>{{artikal.naziv}}</td>
	    							</tr>
	    						</table>
	    					</td>
	    					<td>{{artikal.originalnaCena}}</td>
	    					<td>{{artikal.popust}}%</td>
	    					<td>{{artikal.ukupno}}</td>
	    				</tr>
    				</tbody>
    			</table>
    		</div>
    		<div class="col-md-1"> &nbsp; </div>
    	   </div>
    		<br><br>
    		
    	    <div class="row">
    	    	<div class="col-md-1"> &nbsp; </div>
    			<div class="col-md-5">
    				<label>Suma: {{racun.suma}}</label><br>
    				<label>Popust: {{racun.popust}}%</label>
    				<label>Ukupno: {{racun.ukupnaSuma}}</label>
    			</div>
    			<div class="col-md-5">
    				<label>Iskorišćeni bonus bodovi: {{racun.iskorisceniBodovi}}</label><br>
    				<label>Stečeni bonus bodovi: {{racun.steceniBodovi}}</label>
    			</div>
    			<div class="col-md-1"> &nbsp; </div>
    		</div>
    		<br><br><br>
    </div>
    
    <div class="modal-footer">
        <button class="btn" ng-click="zatvori()">Zatvori</button>
    </div>
</div>