<div ng-controller="prodavac_narudzbeController">
	<div class="container">
	  <br/> 
	 	<div class="row">
			<div class="col-md-1"> &nbsp; </div>
			<div class="col-md-10">
			 	<label>Narudžbe artikala</label>
			</div>
			<div class="col-md-1"> &nbsp; </div>
		</div>
	   <br/> 
	   <div class="row">
			<div class="col-md-1"> &nbsp; </div>
			<div class="col-md-10">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Oznaka</th>
							<th>Naziv artikla</th>
							<th>Razlog narudžbe</th>
							<th>Količina</th>
							<th>Naruči</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="nn in narudzbe">
							<td>{{nn.oznaka}}</td>
							<td>{{nn.naziv}}</td>
							<td>{{nn.razlog}}</td>
							<td>
								 <input type="number" min="1" value="20"></input>
							<td>
								<input type="checkbox" ng-checked="checkBoxArtikl($index)" 
									   ng-click="stateChanged($index)"></input>
							</td>
						</tr>
					</tbody>
				</table>
		    </div>
		    
		    <div class="col-md-1"> &nbsp; </div> 
		</div>
		
	    <br/>
	    
	    <div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="alert alert-danger" role="alert" ng-show="greska">
            	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            	{{greska}}
        	</div>
        	
        	<div class="alert alert-success" role="alert" ng-show="uspjesno">
            	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            	{{greska}}
        	</div>
		</div>
		<div class="col-md-1"> &nbsp; </div>
	</div>
	    
		<div class="row">
			<div class="col-md-7"> &nbsp; </div>
			<div class="col-md-4">
			 	<input type="button" class="btn btn-primary btn-block" value="Poruči označene artikle" ng-click="poruciArtikle()">
			</div>
			<div class="col-md-1"> &nbsp; </div>
		</div>
		
		<!-- Provjera stanja checkbox-ova -->
		<div class="row">
			<div class="col-md-7"> &nbsp; </div>
			<div class="col-md-4">
			 	<label>{{ispis}}</label>
			</div>
			<div class="col-md-1"> &nbsp; </div>
		</div>
</div>