<div modal="showModal" close="zatvori()">
    <div class="modal-header">        
        <div class="row">
			<div class="col-md-1"> &nbsp; </div>
			<div class="col-md-5">
				<label> {{naslovnaPoruka}}</label> 
			</div>
			<div class="col-md-1"></div>
		</div>
    </div>
    
    <div class="modal-body">
        <br/>
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<label> Oznaka artikla: </label></div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<input type="text" class="form-control" ng-model="artikl.info.id" ng-disabled="izmena" required>
    		</div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<label> Naziv artikla: </label></div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<input type="text" class="form-control" ng-model="artikl.info.name" required>
    		</div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<label> Slika: </label></div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<input type="file" accept="image/*" ng-model="artikl.info.picture">
    		</div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<label> Kategorija: </label></div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<select class="form-control" ng-model="artikl.category" 
					ng-options="kat.info.name for kat in sveKategorije">
				</select>
    			<!--  TextBox za prikaz/unos kategorije, zamijenjen selectom koji ce to prikazati
    				<input type="text" class="form-control" ng-model="artikl.category.name">
    			 -->
    		</div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<label> Cena: </label></div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<input type="text" class="form-control" ng-model="artikl.info.cost" required>
    		</div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<label> Brojno stanje artikla u prodavnici: </label></div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<input type="number" class="form-control" ng-model="artikl.info.inStock" required>
    		</div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<label> Minimalno stanje artikla na lageru: </label></div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<input type="text" class="form-control" ng-model="artikl.info.minQuantity">
    		</div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<label> Artikl aktivan ili ne: </label></div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	<div class="row">
    		<div class="col-md-1"> &nbsp; </div>
    		<div class="col-md-10"> 
    			<input type="checkbox" ng-checked="artikl.info.active">Aktivan
    		</div>
    		<div class="col-md-1"> &nbsp; </div>
    	</div>
    	<br/>
	</div>

    
     <div class="modal-footer">
     	<button class="btn" ng-click="zatvori()">Potvrdi unos</button>
        <button class="btn" ng-click="zatvori()">Zatvori</button>
    </div>
</div>